<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row register-panel">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <h2>S'INSICRIRE</h2>
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #e91e63;">timeline</i>
                </div>
                <div class="desc">
                  <h4></h4>

                </div>
              </div>
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #9c27b0;">code</i>
                </div>

              </div>
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #00bcd4;">group</i>
                </div>

              </div>
            </div>
            <div class="col-md-5">
              <div class="form-part">
                <div class="socials">
                  <a mat-mini-fab style="background-color: #55acee;"><i class="fa fa-twitter"></i></a>
                  <a mat-mini-fab style="background-color: #ea4c89; margin: 0 5px;"><i class="fa fa-dribbble"></i></a>
                  <a mat-mini-fab style="background-color: #3b5998;"><i class="fa fa-facebook"></i></a>
                </div>
                <h6 style="margin-bottom: 30px">BIENVENUE</h6>
                <div class="row">
                  <i class="material-icons">face</i>
                  <mat-form-field color="accent">
                    <input type="number" matInput placeholder="VOTRE Id" [(ngModel)] = "user.id">
                  </mat-form-field>
                </div>
                <div class="row">
                  <i class="material-icons">face</i>
                  <mat-form-field color="accent">
                    <input type="text" matInput placeholder="VOTRE NOM" [(ngModel)] = "user.nom">
                  </mat-form-field>
                </div>
                <div class="row">
                  <i class="material-icons">email</i>
                  <mat-form-field color="accent">
                    <input type="text" matInput placeholder="VOTRE ADRESSE EMAIL" [(ngModel)] = "user.email" >
                  </mat-form-field>
                </div>
                <div class="row">
                  <i class="material-icons">lock_outline</i>
                  <mat-form-field color="accent">
                    <input type="text" matInput placeholder="Password" [(ngModel)] = "user.password">
                  </mat-form-field>
                </div>

                  <div class="form row">
                    <h6>fonction :</h6><br>
                    <label class="col-md-3 col-form-label" for="user.fonction" ></label>

                    <div class="col-md-9">
                      <select id="user.fonction" data-bind="value:user.fonction" name="select1" class="form-control">
                        <option value="1">visiteur</option>
                        <option value="2">Troqueur</option>
                        <option value="3">Administrateur</option>
                      </select>
                    </div>
                  </div>

                <div class="row">
                  <mat-checkbox style="margin-left: 2px"><p style="margin-left: 8px">J'accepte les conditions <span style="color: #9c27b0; cursor: pointer; font-weight: 400;">les conditions d'utilisation</span>.</p></mat-checkbox>
                </div>
                <div class="row" style="display: flex; justify-content: center">
                  <button mat-button (click)="onSubmit()" type ="submit">Resigter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
